* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial;
    background: #e3edfd;
  }

  h2{
    color: #4285F4;
  }
  
  h3{
    color: #4285F4;
  }

  /* Scroll Bar */
  /* width */
::-webkit-scrollbar {
  width: 20px;
  background-color: white;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background:  #4285F4;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #d0e1fc;
}

  /* Header/Blog Title */
  .header {
    padding:30px;
    text-align: center;
    background: white;
    border-radius: 200px;
  }
  
  .header h1 {
    font-size: 35px;
    color: #4285F4;
  }

  .responsive-header{
    border:none;
    position: relative;
    width: 100%;
    height: 28%;
  }

  .responsive-nav-bar{ 
    border: none;
    position: relative;
    width: 100%;
    height: 15%;     
  }

  .responsive-left-card{
    border:none;
    position: relative;
    width:100%;
    height:90%;
  }

  .responsive-right-card{
    border:none; 
    width: 100%; 
    height: 60%;
  }
  
  /* Create two unequal columns that floats next to each other */
  /* Left column */
  .leftcolumn {   
    float: left;
    width: 75%;
  }
  
  /* Right column */
  .rightcolumn {
    float: left;
    width: 25%;
    background-color: #e3edfd;;
    padding-left: 20px;
  }
  
  /* Fake image */
  .fakeimg {
    background-color: #bdd4fb;
    width: 100%;
    padding: 20px;
    border-radius: 50px;
    text-align: center;
  }
  
  /* Add a card effect for articles */
  .card {
    background-color: white;
    padding: 20px;
    border-radius: 50px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Footer */
  .footer {
    padding: 30px;
    text-align: center;
    background: #4285F4;
    color: white;
    border-radius: 100px;
  }

  .responsive-footer{
    border:none; 
    width:100%;
    height: 27%; 
  }
  
  /* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
  @media only screen and (max-width: 640px){

    .responsive-header{
      height: 24%;
    }

    .responsive-nav-bar{
      height: 12%; 
    }

    .responsive-left-card{
      height: 70%;
    }

    .responsive-right-card{
      height: 50%;
    }

    .leftcolumn, .rightcolumn {   
      width: 100%;
      padding: 0;
    }

  }
  
  